@charset "UTF-8";

@font-face {

font-family: nf;
src:url('YouandiModernTR.ttf');
}

@font-face {

font-family: bd;
src:url('YouandiModernHB.ttf');
}
body{
    font-family: nf;
}

#videoClip{
    width:100%;
    height: 1450px;
    background-color: #222222;
    
}

.top{
    width: 1200px;
    margin: 0 auto;
    height: 450px;
   
}

.tit{
    font-size: 60px;
    text-align: center;
    padding-top:100px;
    line-height: 60px;
    color: #fff;
}

.sub_tit{
    font-size: 16px;
    text-align: center;
    max-width: 1200px;
    color:#b4b4b4;
    margin: 0 auto;
   
    margin-top: 30px;
    
}

.txt01{
     color:#787878;
    font-family: nf;
    font-size: 16px;
    margin-top: 120px;
    margin-bottom: 20px;
    padding-left: 19px;
}

.txt02>a{
    color:white;
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 25px;
    font-weight:600;
}

.contents{
    width:100%;
    height: 560px;
    overflow: hidden;
    
}



.bottom{
    width:100%;
    height: 450px;
     
    
}

.bot_txt{
    width:1000px;
    margin: 0 auto;
    font-size:25px;
    color:white;
    font-weight: 700;
    padding: 20px;
    
}

.button{
    width:200px;
    height: 50px;
    background: white; 
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 50px;
    color:#222222;
}

/*contents 시작*/

.movies ul>li{
    margin-left: 50px;
    float:left;
}
.movies{
    
    width: 5050px;
    height: 560px;
    margin: 0 auto;
    position: relative;
    left:-50%;       
}

iframe{
    display: block;
}
.left{
    background-image: url(../img/btn_left.png);
    background-repeat: no-repeat;
    background-position: center;
    
}

#visit{
    width: 100%;
    height: auto;
    background-color: #282828;
}

.v_header{
    color: #fff;
    text-align: center;
    position: relative;
    top:186px;
    
}

#visit .section{
    width: 1200px;
    height: 1189px;
    position: relative;
    margin: 0 auto;
    
}

.footer{
    width: 100%;
    height: 300px;
    background: #000;
}


/*header 시작*/

.v_header .text1{
    font-size: 60px;
    font-weight: bold;
}

.v_header .text2{
    font-size: 16px;
    margin-top: 30px;
    color: #ccc;
}



/*section 시작*/

#visit .section .map{
    width: 744px;
    height: 580px;
    background: url(../img/hvisit_bg.png) no-repeat 50%;
    background-size: cover;
    position: relative;
    top:350px;
    left: -100px;
    
}

#visit .section .map .icon{
    width: 11px;
    height: 16px;
    background: url(../img/icon_g.png) no-repeat 50%;
    background-size: cover;
    position: absolute;
    top: 400px;
    left: 480px;
    z-index: 999;
}

#visit .section .map .icon:hover{
    background: url(../img/icon.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
    
}

#visit .section .map .icon .ck{
    color: #fff;
    position: absolute;
    margin-top:30px;
    margin-left: -30px;
    display:block;
}



#visit .section .map .icon2{
    width: 11px;
    height: 16px;
    background: url(../img/icon_g.png) no-repeat 50%;
    background-size: cover;
    position: absolute;
    top: 470px;
    left: 430px;
    z-index: 999;
}

#visit .section .map .icon2:hover{
    background: url(../img/icon.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}

#visit .section .map .icon2 .TV{
    color: #fff;
    position: absolute;
    margin-top:30px;
    margin-left: -25px;
}

#visit .section .map .icon3{
    width: 11px;
    height: 16px;
    background: url(../img/icon_g.png) no-repeat 50%;
    background-size: cover;
    position: absolute;
    top: 305px;
    left: 410px;
    z-index: 999;
}

#visit .section .map .icon3:hover{
    background: url(../img/icon.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}

#visit .section .map .icon3 .DS{
    color: #fff;
    position: absolute;
    margin-top:30px;
    margin-left: -25px;
}

#visit .section .map .icon4{
    width: 11px;
    height: 16px;
    background: url(../img/icon_g.png) no-repeat 50%;
    background-size: cover;
    position: absolute;
    top: 350px;
    left: 365px;
    z-index: 999;
}

#visit .section .map .icon4:hover{
    background: url(../img/icon.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}

#visit .section .map .icon4 .MS{
    color: #fff;
    position: absolute;
    margin-top:30px;
    margin-left: -20px;
}


#visit .section .text3{
    width: 100%;
/*    max-width: 1200px;*/
    height: auto;
/*    border: 1px solid #fff;*/
    position: absolute;
    color: #fff;
    right: 30px;
    top: 350px;
    text-align: right;
}

#visit .section .tex.t01{
    font-size: 16px;
    color: #ccc;
    padding-bottom: 25px;
}

#visit .section .tex.t02{
    font-size: 30px;
    font-weight: bold;
}

#visit .section .tex.t03{
    font-size: 16px;
    color: #ccc;
    padding-top: 100px;
    padding-bottom: 10px;
}

#visit .section span.time{
    display: inline-block;
    background: #0002;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    line-height: 85px;
    padding: 0px 12px;
}

#visit .section .tex.t04{
    font-size: 16px;
    color: #ccc;
    padding-top: 100px;
    padding-bottom: 30px;
}

#visit .section .tex.t05{
    font-size: 16px;
    line-height: 40px
}



/*footer 시작*/

.footer .ftop{
    width: 1200px;
    height: auto;
    margin: 0 auto;
/*    background: #fff;*/
    font-size: 16px;
    overflow: hidden;
    position: relative;
    top:80px;
    color: #fff;
    
}

.ftop>ul>li{
    float: left;
    font-size: 17px;
}

.ftop>ul>li>a{
    color: #fff;
}

.ftop ul>li.line{
    width: 1200px;
    height: 1px;
    margin: 0 auto;
    background: #464646;
    position: relative;
    margin-top: 50px;
}

.footer .btop{
    width: 1200px;
    height: auto;
    margin: 0 auto;
/*    background: #fff;*/
    font-size: 13px;
    position: relative;
    top:80px;
    color: #fff;
    
}



.btop>ul>li{
    width: 300px;
    float: left;
/*    border: 1px solid #fff;*/
    margin-top:50px;
    position: relative;
}

.btop .txt1{
    width: auto;
    padding-left: 120px;
    color: #777777;
}

.btop .txt2{
    width: auto;
    padding-left: 20px;
    color: #565656;
}


.btop .img{
    width: 100px;
    position: absolute;
    left: 0;
}

.btop .box{
    width: 22%;
    height:40px;
    border: 1px solid #464646;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: -13px;
    line-height: 40px;
    
}

.box > a{
    width: 80%;
    color: #565656;
    position: absolute;
    left: 10px;
    font-size: 14px;
}

.box .icon{
    width: 12px;
    height: 12px;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: 50%; 
    position: absolute;
    top: 14px;
    right: 20px;
    
}






